@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ysabeau', sans-serif;
}

.title {
  text-align: center;
  grid-column: 1 / 3;
}

.container-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.nav-bar-div {
  position: fixed;
  border-right: 1px solid black;
  padding: 50px;
  width: 250px;
  height: 100vh;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar ul li {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  display: block;
}

#photo-container {
  margin-left: 360px;
}

#photo-container img {
  margin: 5px;
  width: 450px;
}

.page-link {
  color: black;
}

.page {
  grid-column: 1 / 4;
  margin-top: 50px;
  margin-right: 100px;
}
